<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">

        <link href="/static/favicon.ico" rel="icon">

        <!-- graph framework provided by chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.1/chart.min.js" integrity="sha512-O2fWHvFel3xjQSi9FyzKXWLTvnom+lOYR/AUEThL/fbP4hv1Lo5LCFCGuTXBRyKC4K4DJldg5kxptkgXAzUpvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <title>NFL Rank</title>
    </head>
    <body>
        <h1 style="text-align:center">{{ title }}</h1>
        <h2 style="text-align:center">Create your own custom NFL rankings</h2>

        <h3 style="text-align:center">Assign weightings to each factor:</h3>
        <form action="/" method="post" id="sliderForm">
            <div class="slidecontainer" style="width: 500px; margin:0 auto;">        
                <p>Recency: <span id="recencyWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  recencySpot  }}" class="slider" id="RecencyDif" name="RecencyDif">
                <p>Record: <span id="winWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  winSpot  }}" class="slider" id="WinDif" name="WinDif">
                <p>Point Differential: <span id="pointWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  pointSpot  }}" class="slider" id="PointDif" name="PointDif">
                <p>Interception Differential: <span id="interceptionWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  interceptionSpot  }}" class="slider" id="InterceptionDif" name="InterceptionDif">
                <p>Sack Differential: <span id="sackWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  sackSpot  }}" class="slider" id="SackDif" name="SackDif">
                <p>Yards/Play Differential: <span id="ypWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  ypSpot  }}" class="slider" id="YPDif" name="YPDif">
                <p>Possession Differential: <span id="possessionWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  possessionSpot  }}" class="slider" id="PossessionDif" name="PossessionDif">
                <p>Penalty Differential: <span id="penaltyWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  penaltySpot  }}" class="slider" id="PenaltyDif" name="PenaltyDif">
                <p>First Down Differential: <span id="fdWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  fdSpot  }}" class="slider" id="FDDif" name="FDDif">
                <p>Rush Differential: <span id="rushWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  rushSpot  }}" class="slider" id="RushDif" name="RushDif">
                <p>Pass Differential: <span id="passWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  passSpot  }}" class="slider" id="PassDif" name="PassDif">
                <p>Total Yards Differential: <span id="tyWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  tySpot  }}" class="slider" id="TYDif" name="TYDif">
                <p>Turnover Differential: <span id="turnoverWeight"></span>%</p>
                <input type="range" min="0" max="100" value="{{  turnoverSpot  }}" class="slider" id="TurnoverDif" name="TurnoverDif">
            </div>
            <div class="container" style = "margin-top: 10px">
                <div class="center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
        <script>
            var winSlider = document.getElementById("WinDif");
            var pointSlider = document.getElementById("PointDif");
            var interceptionSlider = document.getElementById("InterceptionDif");
            var sackSlider = document.getElementById("SackDif");
            var ypSlider = document.getElementById("YPDif");
            var possessionSlider = document.getElementById("PossessionDif");
            var penaltySlider = document.getElementById("PenaltyDif");
            var fdSlider = document.getElementById("FDDif");
            var rushSlider = document.getElementById("RushDif");
            var passSlider = document.getElementById("PassDif");
            var tySlider = document.getElementById("TYDif");
            var turnoverSlider = document.getElementById("TurnoverDif");

            var recencySlider = document.getElementById("RecencyDif");

            var winOutput = document.getElementById("winWeight");
            var pointOutput = document.getElementById("pointWeight");
            var interceptionOutput = document.getElementById("interceptionWeight");
            var sackOutput = document.getElementById("sackWeight");
            var ypOutput = document.getElementById("ypWeight");
            var possessionOutput = document.getElementById("possessionWeight");
            var penaltyOutput = document.getElementById("penaltyWeight");
            var fdOutput = document.getElementById("fdWeight");
            var rushOutput = document.getElementById("rushWeight");
            var passOutput = document.getElementById("passWeight");
            var tyOutput = document.getElementById("tyWeight");
            var turnoverOutput = document.getElementById("turnoverWeight");

            var recencyOutput = document.getElementById("recencyWeight");

            winOutput.innerHTML = winSlider.value;
            pointOutput.innerHTML = pointSlider.value;
            interceptionOutput.innerHTML = interceptionSlider.value;
            sackOutput.innerHTML = sackSlider.value;
            ypOutput.innerHTML = ypSlider.value;
            possessionOutput.innerHTML = possessionSlider.value;
            penaltyOutput.innerHTML = penaltySlider.value;
            fdOutput.innerHTML = fdSlider.value;
            rushOutput.innerHTML = rushSlider.value;
            passOutput.innerHTML = passSlider.value;
            tyOutput.innerHTML = tySlider.value;
            turnoverOutput.innerHTML = turnoverSlider.value;

            recencyOutput.innerHTML = recencySlider.value;

            updateWeights();
            
            winSlider.oninput = function() {
              updateWeights();
            }

            pointSlider.oninput = function() {
              updateWeights()
            }

            interceptionSlider.oninput = function() {
              updateWeights()
            }

            sackSlider.oninput = function() {
              updateWeights()
            }

            ypSlider.oninput = function() {
              updateWeights()
            }

            possessionSlider.oninput = function() {
              updateWeights()
            }

            penaltySlider.oninput = function() {
              updateWeights()
            }

            fdSlider.oninput = function() {
              updateWeights()
            }

            rushSlider.oninput = function() {
              updateWeights()
            }

            passSlider.oninput = function() {
              updateWeights()
            }

            tySlider.oninput = function() {
              updateWeights()
            }

            turnoverSlider.oninput = function() {
              updateWeights()
            }

            recencySlider.oninput = function() {
              updateWeights()
            }

            function updateWeights(){
                var totalSum = parseInt(winSlider.value) + parseInt(pointSlider.value) + parseInt(interceptionSlider.value) 
                    + parseInt(sackSlider.value) + parseInt(ypSlider.value) + parseInt(possessionSlider.value) 
                    + parseInt(penaltySlider.value) + parseInt(fdSlider.value) + parseInt(rushSlider.value)
                    + parseInt(passSlider.value) + parseInt(tySlider.value) + parseInt(turnoverSlider.value) + 0.00001;
                
                var winWeight = (parseInt(winSlider.value)/totalSum)*100 + 0.00001
                var pointWeight = (parseInt(pointSlider.value)/totalSum)*100
                var interceptionWeight = (parseInt(interceptionSlider.value)/totalSum)*100
                var sackWeight = (parseInt(sackSlider.value)/totalSum)*100
                var ypWeight = (parseInt(ypSlider.value)/totalSum)*100
                var possessionWeight = (parseInt(possessionSlider.value)/totalSum)*100
                var penaltyWeight = (parseInt(penaltySlider.value)/totalSum)*100
                var fdWeight = (parseInt(fdSlider.value)/totalSum)*100
                var rushWeight = (parseInt(rushSlider.value)/totalSum)*100
                var passWeight = (parseInt(passSlider.value)/totalSum)*100
                var tyWeight = (parseInt(tySlider.value)/totalSum)*100
                var turnoverWeight = (parseInt(turnoverSlider.value)/totalSum)*100

                var recencyWeight = recencySlider.value
                
                winOutput.innerHTML = Math.round(winWeight);
                pointOutput.innerHTML = Math.round(pointWeight);
                interceptionOutput.innerHTML = Math.round(interceptionWeight);
                sackOutput.innerHTML = Math.round(sackWeight);
                ypOutput.innerHTML = Math.round(ypWeight);
                possessionOutput.innerHTML = Math.round(possessionWeight);
                penaltyOutput.innerHTML = Math.round(penaltyWeight);
                fdOutput.innerHTML = Math.round(fdWeight);
                rushOutput.innerHTML = Math.round(rushWeight);
                passOutput.innerHTML = Math.round(passWeight);
                tyOutput.innerHTML = Math.round(tyWeight);
                turnoverOutput.innerHTML = Math.round(turnoverWeight);

                recencyOutput.innerHTML = recencyWeight;
            }
            
        </script>

                <!-- Graph of most recent artists, some graph design (text color, etc) altered -->
        <canvas id="myChart" style="width:50%;" height="300"></canvas>
        <!-- There is a known bug where a false error will be thrown when variables in JavaScript are called using Django, no effect on outcome -->
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        Chart.defaults.color = "#000000";
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{  teamKeys |safe }},
                datasets: [{
                label: 'Rating Value',
                    data:  {{  rankValues |safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
        </script>

        <footer style="text-align:center; margin-top: 10px; margin-bottom: 10px">
            Made by Nicholas Lopez and Elliot Chin</footer>
    </body>
</html>