<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Sample app</title>
    </head>
    <body>
        <h1 style="text-align:center">{{ title }}</h1>
        <h2 style="text-align:center">Create your own custom NFL rankings</h2>

        <div class="slidecontainer" style="width: 500px; margin:0 auto;">        
            <p>Custom range slider:</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="Recency">
            <input type="range" min="1" max="100" value="50" class="slider" id="Interception Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Sack Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Yards/Play Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Possession Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Penalty Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="First Down Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Rush Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Pass Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Total Yards Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Turnover Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Win Differential">
            <input type="range" min="1" max="100" value="50" class="slider" id="Point Differential">
        </div>
    </body>
</html>